<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwpu.dao.ManagerMapper">
    <resultMap id="BaseResultMap" type="edu.nwpu.domain.Manager">
        <id column="manager_id" jdbcType="INTEGER" property="id"/>
        <result column="manager_name" jdbcType="VARCHAR" property="name"/>
        <result column="manager_password" jdbcType="VARCHAR" property="password"/>
        <result column="manager_phoneNum" jdbcType="CHAR" property="phoneNum"/>
        <result column="manager_email" jdbcType="VARCHAR" property="email"/>
        <result column="manager_isDeleted" jdbcType="BOOLEAN" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        manager.id as manager_id, manager.`name` as `manager_name`, manager.`password` as `manager_password`,
    manager.phoneNum as manager_phoneNum, manager.email as manager_email, manager.isDeleted as manager_isDeleted
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from manager manager
        where manager.id = #{id,jdbcType=INTEGER} and isDeleted = false
    </select>
    <select id="findAllByPage" resultType="edu.nwpu.domain.Manager">
        select *
        from manager
        where isDeleted = false
        limit #{start} , #{size}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(1)
        from manager
        where isDeleted = false
    </select>
    <select id="findByName" resultType="edu.nwpu.domain.Manager">
        select *
        from manager
        where name = #{name}
          and isDeleted = false
    </select>
    <select id="findByNameAndPassword" resultType="edu.nwpu.domain.Manager">
        select *
        from manager
        where name = #{name}
          and password = #{password}
          and isDeleted = false
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        update manager
        set isDeleted = true
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="edu.nwpu.domain.Manager" useGeneratedKeys="true">
        insert into manager (`name`, `password`, phoneNum,
                             email, isDeleted)
        values (#{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{phoneNum,jdbcType=CHAR},
                #{email,jdbcType=VARCHAR}, false)
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="edu.nwpu.domain.Manager"
            useGeneratedKeys="true">
        insert into manager
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="phoneNum != null">
                phoneNum,
            </if>
            <if test="email != null">
                email,
            </if>
            isDeleted,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phoneNum != null">
                #{phoneNum,jdbcType=CHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                false,
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.nwpu.domain.Manager">
        update manager
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phoneNum != null">
                phoneNum = #{phoneNum,jdbcType=CHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                isDeleted = #{isDeleted,jdbcType=BOOLEAN},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.nwpu.domain.Manager">
        update manager
        set `name`     = #{name,jdbcType=VARCHAR},
            `password` = #{password,jdbcType=VARCHAR},
            phoneNum   = #{phoneNum,jdbcType=CHAR},
            email      = #{email,jdbcType=VARCHAR},
            isDeleted  = #{isDeleted,jdbcType=BOOLEAN}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>