<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwpu.dao.UserMapper">
    <resultMap id="BaseResultMap" type="edu.nwpu.domain.User">
        <id column="user_id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="name"/>
        <result column="user_password" jdbcType="VARCHAR" property="password"/>
        <result column="user_phoneNum" jdbcType="CHAR" property="phoneNum"/>
        <result column="user_email" jdbcType="VARCHAR" property="email"/>
    </resultMap>
    <sql id="Base_Column_List">
        user.id as user_id, user.`name` as `user_name`, user.`password` as `user_password`,
    user.phoneNum as user_phoneNum, user.email as user_email
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user user
        where user.id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findAllByPage" resultType="user">
        select *
        from user
        limit #{start},#{size}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(1)
        from user
    </select>
    <select id="findByName" resultType="edu.nwpu.domain.User">
        select *
        from user
        where user.name = #{name}
    </select>
    <select id="findByNameAndPassword" resultType="edu.nwpu.domain.User">
        select *
        from user
        where user.name = #{name}
          and user.password = #{password}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="edu.nwpu.domain.User" useGeneratedKeys="true">
        insert into user (`name`, `password`, phoneNum,
                          email)
        values (#{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{phoneNum,jdbcType=CHAR},
                #{email,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="edu.nwpu.domain.User"
            useGeneratedKeys="true">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="phoneNum != null">
                phoneNum,
            </if>
            <if test="email != null">
                email,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phoneNum != null">
                #{phoneNum,jdbcType=CHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.nwpu.domain.User">
        update user
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phoneNum != null">
                phoneNum = #{phoneNum,jdbcType=CHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.nwpu.domain.User">
        update user
        set `name`     = #{name,jdbcType=VARCHAR},
            `password` = #{password,jdbcType=VARCHAR},
            phoneNum   = #{phoneNum,jdbcType=CHAR},
            email      = #{email,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>